@use 'base';

.inverse {
  background-color: base.$primary-color;
  color: white;
}

.MyApps {
  color: base.$body-color;
  font-family: "Times New Roman", Times, serif;
}


.accordion {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100% !important;
}

.mySelect {
  width: 100px !important;
  background-color: lightgreen !important;
}

.myInputInt {
  width: 75px !important;
  background-color: lightblue !important;
}

.myInputFloat {
  width: 100px !important;
  background-color: lightblue !important;
}


.ui.grid.container {
    width: 100% !important;
}


body > .grid.login {
      height: 100%;
    }
div.login {
      height: 100%;
    }
.login.image {
      margin-top: -100px;
    }
.login.column {
      max-width: 450px;
      display: flex !important;
    justify-content: center;
    }

body > .grid.inscription {
      height: 100%;
    }
div.inscription {
      height: 100%;
    }
.inscription.image {
      margin-top: -100px;
    }
.inscription.column {
      max-width: 450px;
      display: flex !important;
    justify-content: center;
    }

body > .grid.recup {
      height: 100%;
    }
div.recup {
      height: 100%;
    }
.recup.image {
      margin-top: -100px;
    }
.recup.column {
      max-width: 450px;
      display: flex !important;
    justify-content: center;
    }

fieldset.visuexperience {
    background: red;
}