@use 'base';

.inverse {
  background-color: base.$primary-color;
  color: white;
}

.MyApps {
  color: base.$body-color;
  font-family: "roboto", "Times New Roman", Times, serif;
}


.mySelect {
  width: 100px !important;
  background-color: lightgreen !important;
}

.myInputInt {
  width: 75px !important;
  background-color: lightblue !important;
}

.myInputFloat {
  width: 100px !important;
  background-color: lightblue !important;
}


//.ui.grid.container {
//    width: 100% !important;
//}


// ---------------------------------
// page de login
// ---------------------------------
body > .grid.login {
      height: 100%;
    }
div.login {
      height: 100%;
    }
.login.image {
      margin-top: -100px;
    }
.login.column {
      max-width: 450px;
      display: flex !important;
    justify-content: center;
    }

// ---------------------------------
// page des inscriptions
// ---------------------------------
body > .grid.inscription {
      height: 100%;
    }
div.inscription {
      height: 100%;
    }
.inscription.image {
      margin-top: -100px;
    }
.inscription.column {
      max-width: 450px;
      display: flex !important;
    justify-content: center;
    }

// ---------------------------------
// page de recup des pwd
// ---------------------------------
body > .grid.recup {
      height: 100%;
    }
div.recup {
      height: 100%;
    }
.recup.image {
      margin-top: -100px;
    }
.recup.column {
      max-width: 450px;
      display: flex !important;
    justify-content: center;
    }

// ---------------------------------
// le fileset du dump des info experience en base
// ---------------------------------
fieldset.visuexperience {
    background: red;
}

// ---------------------------------
// Visu des liens dans la consultation des images
// ---------------------------------
.anchorLikebutton {
    display: block;
    width: 115px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}